
h2 {
	margin-bottom: 3px;
}

.blogPageText {
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: justify;
}


@media (max-width: 767px) and (orientation: portrait) {
	iframe {
		width: 360px;
		height: 202px;
	}
}


@media (max-width: 413px) and (orientation: portrait) {
	iframe {
		width: 330px;
		height: 185px;
	}
}

@media (max-width: 374px) and (orientation: portrait) {
	iframe {
		width: 280px;
		height: 157px;
	}
}

@media (max-width: 600px) and (orientation: landscape) {
	iframe {
		width: 460px;
		height: 258px;
	}
}

