.navmenuWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 15px;
	background: linear-gradient(to top, black, red);
	height: 200px;
	transition: all .2s;
}

.navmenuWrapper.open {
	height: 400px;
}

.navMenu {
	display: flex;
	padding-left: 15%
}

.navMenu.open {
	flex-direction: column;
	display: flex;
	margin-top: 50px;
}

.navMenu.open .navItem {
	margin-bottom: 20px;
}

.navMenu.open:after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #ccc;
}

.navItem {
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 500;
	padding-right: 20px;
}

.navItem a {
	text-decoration: none;
	color: white;
}

.navItem a:hover {
	border-bottom: 1px solid #333;
}

.pageName {
	color: white;
	font-size: 1.8em;
	font-weight: bold;
	padding-left: 15%;
	margin-top: 10px;
}

.bottomBar {
	padding: 20px;
	margin-left: 12%;
	margin-right: 12%;
	background-color: white;
	border-bottom: 1px dotted #ddd;
}

.burgerMenu {
	left: 80%;
	border: solid 1px black;
	position: absolute;
	width: 35px;
	height: 35px;
	display: none;
	transition: all .5s;
}
	.burgerMenu span {
		position: absolute;
		background-color: black;
		left: 30%;
		width: 40%;
		height: 2px;
		top: 17px;
	}
	.burgerMenu:before,
	.burgerMenu:after {
		content: "";
		background-color: black;
		position: absolute;
		width: 40%;
		height: 2px;
		left: 30%;
	}
	.burgerMenu:before {
		top: 12px;
	}
	.burgerMenu:after {
		bottom: 11px;
	}

.burgerMenuActive {
	background-color: black;
	border: solid 1px white;
}
	.burgerMenuActive span {
		background-color: white;
	}
	.burgerMenuActive:before,
	.burgerMenuActive:after {
		background-color: white;
	}

@media (max-width: 767px) {
	.navMenu {
		display: none;
	}
	.burgerMenu {
		display: flex;
	}
	.pageName {
		font-size: 1.5em;
	}
	.bottomBar {
		margin: 0 0;
	}
}




