.appHeader {
	padding-bottom: 25px;
}

.topBorder {
	height: 40px;
	background-color: #444;
	margin-bottom: 25px;
}

.headerLogo {
	margin-left: 15%;
	font-size: 2.5em;
	font-weight: 500;
	color: #222;
}

.headerLogo a {
	text-decoration: none;
	color: #222;
}

.headerDesc {
	margin-left: 20%;
	font-size: 1.1em;
}

@media (max-width: 767px) {
	.headerLogo {
		font-size: 2.2em;
	}
}