.friendItem {
	font-size: 1.1em;
}

.friendsPageHeader {
	margin-bottom: 20px;
}

.friendItem a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
	border-bottom: 1px solid #333;
}

.friendItem a:hover {
	color: red;
	border-bottom: 1px solid red;
}